.app-header{
  background-color: yellow;
    border-bottom: 1px solid gray;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
  }


  .app-header-logo{
    height: 44px;
  }